<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/task.css">
    <link rel="stylesheet" href="/css/sidebars.css">
    <link rel="stylesheet" href="/css/style2.css">

    <style>
        .b-example-divider {
        height: 3rem;
        background-color: #E8E9EE;
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            height: 100vh;
        }

        .button {
        border-radius: 25px;
        width: 250px;
        height: 50px;
        font-weight: bold;
        }
    </style>

</head>

<body>
    <main class="d-flex flex-nowrap vh-100">
        <!-- slides bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 side" style="width: 300px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <br>
                <h2 class="h2bar"> &nbsp; Study In</h2>
                <hr class="hrbarA">
                <li>    
                    <a href="/form/home " class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-houses"></i>
                        Home
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/listMyForm" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-folder2-open"></i>
                        My Form
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/formSubmission" class="nav-link active bg-light list-group-item-action list-group-item-light p-2.8 text-dark fw-bold ">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Submission
                    </a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <hr class="hrbar">
                <li>
                    <a href="/user/profile" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/auth/login" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        LogOut
                    </a>
                </li>
            </ul>
        </div>
        <!-- end slide bar -->

        <div class="b-example-divider b-example-vr " style="width:84.98%">
            <br>
                 <h2 class="tittle text-center my-3 text-dark">List My Form Submission</h2>
            <br>
            <br>
            <div class="white-rectangle">
                    <!-- <div id="search-container">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search..." required>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div> -->
                    <div class="table-box">
                        <form action="" id="" method=""></form>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Created At</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>xxx</td>
                                        <td>xx-xx-xxx</td>
                                        <td>xx-xx-xxx</td>
                                        <td>
                                            <a href="/submission/detailSubmission" class="btn btn-success btn-sm">
                                            <i class="bi bi-search text-white"> </i>
                                            Detail
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

        </main>


        <script src="../../../assets/dist/js/bootstrap.bundle.min.js"></script>

        <script src="../../../assets/js/sidebars.js"></script>

</body>

</html>