<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
   
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/task.css">
    <link rel="stylesheet" href="/css/sidebars.css">
    <link rel="stylesheet" href="/css/style2.css">

    <style>
        .b-example-divider {
        height: 3rem;
        background-color: #E8E9EE;
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            height: 100vh;
        }
    </style>

</head>

<body>
    <main class="d-flex flex-nowrap vh-100">
        <!-- slides bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 side" style="width: 300px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <br>
                <h2 class="h2bar"> &nbsp; Study In</h2>
                <hr class="hrbarA ">
                <li>
                    <a href="/form/home " class="nav-link active bg-light list-group-item-action list-group-item-light p-2.8 text-dark fw-bold ">
                        <i class="bi bi-houses"></i>
                        Home
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/listMyform" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-folder2-open"></i>
                        My Form
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/formSubmission" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Submission
                    </a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <hr class="hrbar">
                <li>
                    <a href="/user/profile" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/auth/login" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        LogOut
                    </a>
                </li>
            </ul>
        </div>
        <!-- end slide bar -->

            <div class="b-example-divider b-example-vr " style="width:84.98%">
                <div class="bar">
                    <br>
                        <h2 class="tittle text-center my-3 text-dark">Submission Task</h2>
                    <br>
                    <br>
                    <div class="kotak task-form-container1">
                        <form class="m-auto mt-5" action="" method="" id="submission"></form>
                        <div class="avatar-container">
                            <div class="avatar">
                                <img src="/img/profile.png" alt="Avatar"
                                    style="width: 100px; height: 100px; border-radius: 50%; margin-left: 50px;">
                            </div>
                            <div>
                                <h3 class="mb-3"><%= item.nama %></h3>
                            </div>
                        </div>
                        <div >
                            <h1 class="title mb-3" style="margin-left: 225px;">Judul Tugas</h1>
                            <p class="upload-info">Due Date :</p>
                            <p class="upload-date mb-3">28 Mei 2023, 09:00 AM</p>
                            <p class="instruction-info">Instruction:</p>
                            <p class="instruction-text mb-3">Buatlah apa saja dan kumpulkan tepat waktu ya</p>
                            <hr>
                        </div>  
                        <h2 class="answer-title mb-3">Answer</h2>
                        <div class="file-upload-container">
                            <div class="upload-container">
                                <p style="color: black; margin-left: 32px;font-weight: bold; font-size: 18px;">Upload File</p>
                                <input type="file" class="form-control" id="floatingInput" placeholder="file-upload" name="">
                            </div>
                        </div>
                        <div class="description-section">
                            <p style="color: black; margin-left:2px;font-weight: bold;">Comments</p>
                            <textarea placeholder="Add a comment (optional)"></textarea>
                        </div>
                        <div class="action-buttons">
                            <a href="/form/home"  class="cancel-button btn btn-outline-danger">
                                Cancel
                            </a>
                            <a href="/form/home" form="" class="upload-button btn btn-lg btn-primary">Upload</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="../../../assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../../assets/js/sidebars.js"></script>

</body>

</html>