<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link href="/css/sidebars.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">   

    <style>
        .b-example-divider {
        height: 3rem;
        background-color: #E8E9EE;
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }
    </style>
    
</head>

<body>
    <main class="d-flex flex-nowrap vh-100">
        <!-- slides bar -->
        <div class="d-flex flex-column flex-shrink-0 p-3 side" style="width: 300px;">
            <ul class="nav nav-pills flex-column mb-auto">
                <br>
                <h2 class="h2bar"> &nbsp; Study In</h2>
                <hr class="hrbarA ">
                <li>
                    <a href="/form/home " class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-houses"></i>
                        Home
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/listMyForm" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-folder2-open"></i>
                        My Form
                    </a>
                </li>
                <br>
                <li>
                    <a href="/form/formSubmission" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-dark fw-bold">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Submission
                    </a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <hr class="hrbarA">
                <li>
                    <a href="/user/profile" class="nav-link active bg-light list-group-item-action list-group-item-light p-2.8 text-dark fw-bold">
                        <i class="bi bi-person"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a href="/auth/login" class="nav-link list-group-item-action list-group-item-dark p-2.8 text-white fw-bold">
                        <i class="bi bi-box-arrow-right"></i>
                        LogOut
                    </a>
                </li>
            </ul>
        </div>
        <!-- end slide bar -->

        <div class="b-example-divider b-example-vr p-1" style="width:84.98%">
            <div class="container">
                <div class="text-center bg-light atas" style="margin-left: -55px; margin-top: 50px; border-radius: 50px;" >
                    <div class="row align-items-start p-5">
                        <div class="col">
                            <img src="/img/profile.png" class="w-40" alt="">
                        </div>
                        <div class="col">
                            <h3 class="text-dark" style="margin-right: 250px;"><%= nama %></h3>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table tabel-radius">
                <tr>
                    <td>
                        <div class="bawah">
                            <form method="post" class="mt-5" id="formProfile">
                                <div class="container overflow-hidden">
                                    <div class="row gy-3">
                                        <div class="form-floating mb-3 w-50 " >
                                            <input type="text" class="form-control" id="floatingInputUsername" name="username"
                                                placeholder="username" value="<%= username %>" style="border-radius: 50px;">
                                            <label for="floatingInput" style="margin-left: 10px;"> Username</label>
                                        </div>
                                        <div class="form-floating mb-3 w-50 ">
                                            <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com"
                                                name="email" value="<%= email %>" style="border-radius: 50px;">
                                            <label for="floatingInput" style="margin-left: 10px;"> Email</label>
                                        </div>
                                        <div class="form-floating mb-3 w-50 ">
                                            <input type="text" class="form-control" id="floatingInputNama" placeholder="nama" name="nama"
                                                value="<%= nama %>" style="border-radius: 50px;">
                                            <label for="floatingNama" style="margin-left: 10px;"> Nama</label>
                                        </div>
                                        <div class="form-floating mb-3 w-50 "></div>
                                        </div>
                                        <div class="form-floating mb-1 w-50 ">
                                            <br><br><br>
                                            <p class="text-danger">Change Password? Here!</p>
                                        </div>
                                        <div class="form-floating mb-3 w-50 ">
                                            <input type="password" class="form-control" id="floatingPasswordBaru" placeholder="password baru"
                                                name="passwordBaru" style="border-radius: 50px;">
                                            <label for="floatingPassword">New Password</label>
                                        </div>
                                        <div class="form-floating mb-3 w-50 ">
                                            <input type="password" class="form-control" id="floatingPasswordLama" placeholder="password lama"
                                                name="passwordLama" style="border-radius: 50px;">
                                            <label for="floatingPassword">Old Password</label>
                                        </div>
                                            <div class="simpan">
                                                <a href="#" class="btn btn-lg text-white btn-success float-end"
                                                        type="button" id="save-update-btn" style="border-radius: 25px; margin-right: 25px;">Save Change
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </div>


    </main>

    <script>
         document.addEventListener("DOMContentLoaded", async function () {
            const saveUpdateBtn = document.getElementById("save-update-btn");
            saveUpdateBtn.addEventListener('click', async function (event) {
                event.preventDefault()

                const username = document.getElementById('floatingInputUsername').value;
                const email = document.getElementById('floatingInputEmail').value;
                const nama = document.getElementById('floatingInputNama').value;
                const passwordBaru = document.getElementById('floatingPasswordBaru').value
                const passwordLama = document.getElementById('floatingPasswordLama').value

                const response = await fetch('/user/editProfile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: username,
                        email: email,
                        nama: nama,
                        passwordBaru: passwordBaru,
                        passwordLama: passwordLama
                    })
                })

                const data = await response.json()
                if (data.success == true) {
                    alert(data.msg)
                    window.location.href = '/user/profile'
                } else {
                    alert(data.msg)
                    location.reload()
                }
            })


         })
    </script>


    <script src="../../../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="../../../assets/js/sidebars.js"></script>

    <!-- Include the Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>