<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../assets/css/welcome.css">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .pink-rectangle {
            width: 110%;
            height: 80px;
            background-color: #E8E9EE;
        }
    </style>


</head>

<body class="text-center">
    <nav>
        <div class="pink-rectangle">
            <div class="wrapper " >
                <!-- <div class="logo"><a href=''>StudyIn</div>   -->
                <div class="logo"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; StudyIn</div>
                <div class="menu">
                    <ul>
                        <li><a href="signin.html">Log In</a></li>
                        <li><a></a>|</a></li>
                        <li><a></a> </a></li>
                        <li><a href="signup.html">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <section id="home">
            <br><br>
            <img
                src="https://img.freepik.com/free-vector/focused-tiny-people-reading-books_74855-5836.jpg?size=626&ext=jpg&ga=GA1.2.1159080903.1683558037&semt=sph" />
            <div class="judul">
            </div>
        </section>
    </div>
</body>

</html>