@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Inter', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #E8E9EE; 
}

.title {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    color: black;
    margin-top: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

::selection {
    background: black;
    color: black;
}

.wrapper {
    width: 590px;
    height: 400px;
    background: #94a3c0;
    border-radius: 25px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper h5 {
    text-align: center;
    margin-top: 0px;
    color: #F5F5F5;
}

.wrapper p {
    text-align: center;
    margin-top: 20px;
    color: #F5F5F5;
}

.wrapper form {
    padding: 20px 30px 50px 30px;
}

.wrapper form .field {
    height: 62px;
    width: 520px;
    margin-top: 30px;
    position: relative;
}

.wrapper form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 35px;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid {
    border-color: black;
}

.wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999;
    font-weight: 400;
    font-size: 22px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus~label,
form .field input:valid~label {
    top: 0%;
    font-size: 18px;
    color: black;
    background: #94a3c0;
    transform: translateY(-50%);
}

.form content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

form .content .checkbox {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

form .content input {
    width: 15px;
    height: 15px;
    background: red;
}

form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

form .content .pass-link {
    color: "";
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    background: black;
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}


form .pass-link a {
    color: black;
    text-decoration: none;
}

.row {
    font-size: 25px;
    color: black;
    margin-top: 0px;
    text-align: center;
}

/* untuk tambahan creatakun */

.container {
    display: flex;
    justify-content: space-between;
}

.input-field {
    flex: 1;
    margin-right: 10px;
}

.input-field:last-child {
    margin-right: 0;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    transition: all 0.3s ease;
    outline: none;
    font-size: 17px;
}

.text-dark {
    color: #999;
}

.row {
    position: relative;
    height: 100px; /* Sesuaikan tinggi sesuai kebutuhan */
  }

  .row p {
    margin-bottom: 5px;
    font-size: 22px;
  }
  
  .row h4 {
    margin-left: 8px;
  }
  
.row h4 a {
    text-decoration: none;
  }
